@import "../../index.css";

.header{
    background-color: var(--waldo-red);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    min-height: 100px;
    max-width: 1920px;
}

.title{
    font-size: 3rem;
    justify-self: start;
    align-self: center;
    text-decoration: none;
}

.title a {
    text-decoration: none;
}

.characters {
    grid-column: 3/4;
    justify-self: center;
    align-items: center;
}

.characters ul{
    display: flex;
    list-style: none;
    gap:1em;
}

.character{
    align-self: center;
    display: flex;
    gap: 1em;
}

.character_name{
    font-size: 2rem;
    align-self: center;
}

.intents{
    font-size: 2rem;
    align-self: center;
    justify-self: center;
}

.character_img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.founded{
    opacity: 0.8;
}